In [1]:
# Import the dependencies.
import pandas as pd
import requests
import gmaps
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,New Norfolk,AU,2021-10-30 00:00:34,-42.7826,147.0587,52.92,49,70,4.00
1,1,Georgetown,MY,2021-10-29 23:58:34,5.4112,100.3354,80.53,88,20,3.00
2,2,Kodiak,US,2021-10-29 23:59:05,57.7900,-152.4072,44.11,87,90,18.41
3,3,Qaanaaq,GL,2021-10-29 23:57:55,77.4840,-69.3632,13.41,70,100,7.76
4,4,Busselton,AU,2021-10-30 00:00:34,-33.6500,115.3333,57.04,63,5,7.45

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)
city_data_df.sort_values('Max Temp')

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
19,19,Chokurdakh,RU,2021-10-30 00:00:39,70.6333,147.9167,-15.23,99,100,2.44
81,81,Cherskiy,RU,2021-10-29 23:58:24,68.7500,161.3000,-12.68,96,99,2.30
333,333,Zhigansk,RU,2021-10-30 00:06:11,66.7697,123.3711,-10.89,100,97,2.01
215,215,Leningradskiy,RU,2021-10-30 00:05:45,69.3833,178.4167,-9.62,93,21,4.43
258,258,Saskylakh,RU,2021-10-30 00:07:01,71.9167,114.0833,-9.17,97,99,8.99
...,...,...,...,...,...,...,...,...,...,...
293,293,Auki,SB,2021-10-30 00:06:00,-8.7676,160.7034,86.76,64,51,4.12
550,550,Ewa Beach,US,2021-10-30 00:12:10,21.3156,-158.0072,87.01,56,40,8.99
529,529,Charters Towers,AU,2021-10-30 00:14:52,-20.1000,146.2667,88.90,36,22,7.96
330,330,Santa Cruz,BO,2021-10-30 00:07:27,-17.8000,-63.1667,88.97,40,54,9.51
93,93,Maningrida,AU,2021-10-30 00:03:04,-12.0667,134.2667,89.15,52,100,3.31

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Georgetown,MY,2021-10-29 23:58:34,5.4112,100.3354,80.53,88,20,3.00
5,5,Vaitape,PF,2021-10-30 00:00:35,-16.5167,-151.7500,78.89,72,88,15.97
14,14,Kendari,ID,2021-10-30 00:00:38,-3.9450,122.4989,80.10,86,77,1.19
18,18,Kapaa,US,2021-10-30 00:00:39,22.0752,-159.3190,83.19,76,8,5.99
20,20,Avarua,CK,2021-10-29 23:57:12,-21.2078,-159.7750,78.85,65,75,12.66
21,21,Sao Filipe,CV,2021-10-29 23:58:28,14.8961,-24.4956,78.93,75,90,8.19
29,29,Atuona,PF,2021-10-30 00:00:42,-9.8000,-139.0333,77.95,69,18,11.83
34,34,Kismayo,SO,2021-10-30 00:00:44,-0.3582,42.5454,77.99,79,61,8.37
35,35,San Patricio,US,2021-10-29 23:57:07,28.0170,-97.5169,77.09,25,0,8.88
37,37,Gibara,CU,2021-10-30 00:00:45,21.1097,-76.1317,80.55,73,100,3.09

In [10]:
preferred_cities_df.count()

City_ID       158
City          158
Country       158
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1     Georgetown      MY     80.53   5.4112  100.3354
5        Vaitape      PF     78.89 -16.5167 -151.7500
14       Kendari      ID     80.10  -3.9450  122.4989
18         Kapaa      US     83.19  22.0752 -159.3190
20        Avarua      CK     78.85 -21.2078 -159.7750
21    Sao Filipe      CV     78.93  14.8961  -24.4956
29        Atuona      PF     77.95  -9.8000 -139.0333
34       Kismayo      SO     77.99  -0.3582   42.5454
35  San Patricio      US     77.09  28.0170  -97.5169
37        Gibara      CU     80.55  21.1097  -76.1317

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row['Lat']
    lng = row['Lng']
    # Add the latitude and longitude to location key for the params dictionary.
    params['location'] = f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Georgetown,MY,80.53,5.4112,100.3354,Cititel Penang
5,Vaitape,PF,78.89,-16.5167,-151.7500,Conrad Bora Bora Nui
14,Kendari,ID,80.10,-3.9450,122.4989,Hotel Wixel
18,Kapaa,US,83.19,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
20,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
21,Sao Filipe,CV,78.93,14.8961,-24.4956,Hotel Xaguate
29,Atuona,PF,77.95,-9.8000,-139.0333,Villa Enata
34,Kismayo,SO,77.99,-0.3582,42.5454,Agan-Hotel
35,San Patricio,US,77.09,28.0170,-97.5169,"Motel 6 Sinton, TX"
37,Gibara,CU,80.55,21.1097,-76.1317,Sol y Mar

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))